body > div{   
  border-left: 1px solid red;
  border-top: 1px solid red;
  border-right: 1px solid red
}

.tr {
  display: flex;
  align-items: center;
  border-bottom: 1px solid red;
}

.logTime{
  padding: 0 10px;
  display: inline-block;
  text-align: left;
  width: 200px;
  height: fit-content;
  flex-shrink: 0;
}

.logMsg{
  display: inline-block;
  border-left: 1px solid red;
  padding: 0 10px;
  flex-grow: 1;
  overflow-wrap: anywhere;
  word-break: normal;
  white-space: pre-wrap; /* css-3 */ 
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
  white-space: -pre-wrap; /* Opera 4-6 */ 
  white-space: -o-pre-wrap; /* Opera 7 */ 
  overflow: auto;
}